<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,283},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>counter-bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,371},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>counter-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,305},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>leaderboard-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,5},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>like-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,5},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>noad-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,155},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>rate-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,155},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>restore-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,295},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>share-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,300},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>sound-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,5},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>store-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,305},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>store-item.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,5},{248,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,285}}</string>
                <key>sourceSize</key>
                <string>{248,285}</string>
            </dict>
            <key>store-lock-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,305},{126,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,171}}</string>
                <key>sourceSize</key>
                <string>{126,171}</string>
            </dict>
            <key>video-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{383,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,268}}</string>
                <key>sourceSize</key>
                <string>{383,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1521,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64406f56a6aa43951430a0960ffe8e82:d6e62b6be4adf21f5c65f3b76c530262:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
