<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about-background.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{1001,950}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,950}}</string>
                <key>sourceSize</key>
                <string>{1001,950}</string>
            </dict>
            <key>about-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,1045},{90,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,180}}</string>
                <key>sourceSize</key>
                <string>{90,180}</string>
            </dict>
            <key>achievements-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1045},{90,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,180}}</string>
                <key>sourceSize</key>
                <string>{90,180}</string>
            </dict>
            <key>close-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,244},{100,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>cocos2dx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,5},{234,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,325}}</string>
                <key>sourceSize</key>
                <string>{234,325}</string>
            </dict>
            <key>credits-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1045},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>credits-decoration-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,340},{250,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,157}}</string>
                <key>sourceSize</key>
                <string>{250,157}</string>
            </dict>
            <key>credits-decoration-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,1235},{88,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>credits-decoration-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1255},{83,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,96}}</string>
                <key>sourceSize</key>
                <string>{83,96}</string>
            </dict>
            <key>facebook-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,1255},{72,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,144}}</string>
                <key>sourceSize</key>
                <string>{72,144}</string>
            </dict>
            <key>freepick.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,215},{190,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,19}}</string>
                <key>sourceSize</key>
                <string>{190,19}</string>
            </dict>
            <key>leaderboard-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1045},{90,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,180}}</string>
                <key>sourceSize</key>
                <string>{90,180}</string>
            </dict>
            <key>like-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1045},{90,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,180}}</string>
                <key>sourceSize</key>
                <string>{90,180}</string>
            </dict>
            <key>mail-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1255},{72,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,144}}</string>
                <key>sourceSize</key>
                <string>{72,144}</string>
            </dict>
            <key>menu-background-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,527},{1001,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,508}}</string>
                <key>sourceSize</key>
                <string>{1001,508}</string>
            </dict>
            <key>menu-background-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,965},{1001,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,477}}</string>
                <key>sourceSize</key>
                <string>{1001,477}</string>
            </dict>
            <key>missions-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,244},{100,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>noad-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1045},{100,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>notification.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,454},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>play-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,5},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>rate-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,1045},{90,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,180}}</string>
                <key>sourceSize</key>
                <string>{90,180}</string>
            </dict>
            <key>restore-purchases-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1235},{64,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>share-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1197},{100,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>sound-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,5},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>store-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1045},{100,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>tutorial-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1045},{100,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>twitter-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1255},{72,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,144}}</string>
                <key>sourceSize</key>
                <string>{72,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{2022,1447}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9dca971005165e328bb2d8431389dfc:fe8940f29a1637824709b9c899058e09:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
