<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1045},{312,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,61}}</string>
                <key>sourceSize</key>
                <string>{312,61}</string>
            </dict>
            <key>capture.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{503,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,524}}</string>
                <key>sourceSize</key>
                <string>{503,524}</string>
            </dict>
            <key>counter-bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,779},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>counter-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1379},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,597},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>giphy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1244},{320,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,67}}</string>
                <key>sourceSize</key>
                <string>{320,67}</string>
            </dict>
            <key>ketchapp.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,689},{400,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,80}}</string>
                <key>sourceSize</key>
                <string>{400,80}</string>
            </dict>
            <key>leaderboard-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,295},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>like-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,445},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>lock-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,595},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>lock-facebook-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,779},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>lock-twitter-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,929},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>missions-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,5},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,153},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,5},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,301},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,153},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,301},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,449},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,449},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,597},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,597},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,745},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,745},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,893},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,893},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1045},{177,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,189}}</string>
                <key>sourceSize</key>
                <string>{177,189}</string>
            </dict>
            <key>missions-best.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1041},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1079},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>missions-coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1041},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-games.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1189},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-gifts.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1189},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-notification.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,539},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>missions-points.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1337},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>noad-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1229},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>play-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1337},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>rate-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,1337},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>restart-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,539},{400,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,140}}</string>
                <key>sourceSize</key>
                <string>{400,140}</string>
            </dict>
            <key>restore-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,1337},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>share-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,745},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>sound-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,5},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>store-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,895},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>store-position-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,745},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{2015,1482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4cbccaba69fb6a5d66d480fd9e1f96c:51f54848b806368ff53e95784c47496a:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
