<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,5},{140,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,70}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>counter-bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,85},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>counter-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,215},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,151},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>handler.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,215},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>leaderboard-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,5},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>like-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,155},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>missions-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,5},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>noad-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,155},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>rate-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,5},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>restore-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,155},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>share-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,5},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>sound-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>store-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,155},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>store-position-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,85},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1613,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8008bde33ab47f5edd1c74ce22281d0:6f92783699808fa26ea8fbd7f561b582:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
