<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1635},{312,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,61}}</string>
                <key>sourceSize</key>
                <string>{312,61}</string>
            </dict>
            <key>capture.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1487},{503,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,524}}</string>
                <key>sourceSize</key>
                <string>{503,524}</string>
            </dict>
            <key>counter-bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,198},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>counter-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,135},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,135},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>giphy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1581},{320,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,67}}</string>
                <key>sourceSize</key>
                <string>{320,67}</string>
            </dict>
            <key>ketchapp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1491},{400,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,80}}</string>
                <key>sourceSize</key>
                <string>{400,80}</string>
            </dict>
            <key>leaderboard-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,591},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>like-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,741},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>lock-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,891},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>lock-facebook-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1041},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>lock-twitter-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1191},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>missions-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,5},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,153},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,155},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,301},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,303},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,449},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,451},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,597},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,599},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,745},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,747},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,893},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,895},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1041},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,5},{177,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,189}}</string>
                <key>sourceSize</key>
                <string>{177,189}</string>
            </dict>
            <key>missions-best.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1043},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1341},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>missions-coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1189},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-games.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1191},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-gifts.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1337},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>missions-notification.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,204},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>missions-points.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1339},{596,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,138}}</string>
                <key>sourceSize</key>
                <string>{596,138}</string>
            </dict>
            <key>noad-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1706},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>play-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1856},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>rate-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1706},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>restart-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1485},{400,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,140}}</string>
                <key>sourceSize</key>
                <string>{400,140}</string>
            </dict>
            <key>restore-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1856},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>share-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{600,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,140}}</string>
                <key>sourceSize</key>
                <string>{600,140}</string>
            </dict>
            <key>sound-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,301},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>store-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1658},{280,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,140}}</string>
                <key>sourceSize</key>
                <string>{280,140}</string>
            </dict>
            <key>store-position-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,5},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1502,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c0b29280ef1f90457f2b1a476827125:d990d7bd59d721bc189fe8dd4b978a9c:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
